@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&family=Ubuntu:wght@300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#logo_link{
    text-align: center;
    padding-top: 5px;
}

nav a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

#hero-msg{
    text-align: center;
}

.button-box{
    text-align: center;
}

.rivers-card{
    text-align: center;
    margin: 200px 0;
}

.camping-card{
    text-align: center;
    margin: 200px 0;
}

.rapids-card{
    text-align: center;
    margin: 200px 0;
}

.msg{
    text-align: center;
    line-height: 1.5em;
    padding: 35px;
}

#background{
    height: 725px;
    background-color: #EEE5E9;
}

body{
    font-family: "Ubuntu";
    background-color: #c5c5c5;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #517327;
}

#a:hover{
    background-color: #D2CCA1;

}

.book{
    font-size: 18px;
    background-color: #E83151;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: #35CE8D;
}

.join{
    font-size: 18px;
    background-color: #BCD8B7;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: #517327;
}

.msg h2{
    background-color: #6C91C2;
}

.msg p{
    font-size: 0.8em;
    background-color: #E3DC95;
    padding-bottom: 15px;
}

footer{
    background-color: #F5D547;
    padding: 25px 50px;
    margin-top: 200px;
}

.footer_a{
    background-color: #B4D2BA;
    text-decoration: none;
}

.footer_a:hover{
    background-color: #6C91C2;
    text-decoration: underline;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

#footer_p{
    font-size: 1.2em;
}

.home-title{
    font-family: "Rubik";
    font-size: 2em;
    margin-top: 10px;
}

h2{
    margin: 0;
}

footer .social img{
    padding-top: 15px;
}

.card-img{
    border: 10px solid;
    border-color: black;
}

main section img{
    box-sizing: border-box;
}
