#content{
    background-color: greenyellow;
    height: 1000px;
}

#me{
    float: left;
    width: 200px;
    height: 235px;
}


#card{
    margin: 0 auto;
    width: 670px;
    height: 235px;
    background-color: white;
}

#text{
    padding-left: 230px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 23px;
}

#text h1{
    font-size: 1em;
}

#text h2{
    font-size: 10px;
}

#text h3{
    font-size: 10px;
}

#text h4{
    font-size: 20px;
}