@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&family=Ubuntu:wght@300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#logo_link{
    text-align: center;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}